<div class="auth-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5 mx-auto">
        <div class="card p-4 my-5">
          <h1 class="fs-5 text-center mb-3">Sign out to your Account</h1>
          <% if (error_msg.length> 0) { %>
            <div class="alert alert-danger p-3 alert-dismissible fade show" role="alert">
              <span><%= error_msg %></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <% if (success_msg.length> 0) { %>
            <div class="alert alert-success p-3 alert-dismissible fade show" role="alert">
                <span> <%= success_msg %></span>
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
          <form action="/api/v1/login" method="post" id="registerForm">
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group mb-3">
              <label for="pasword" class="form-label">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submitBtn">
              <span id="submitText">Login</span>
              <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span>
            </button>
          </form>
          <div class="mt-3">
            <p class="mb-0">Have a account? <a href="/register">Register now</a></p>
            <a href="/">Back to home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("registerForm").addEventListener("submit", function(event) {
    const submitBtn = document.getElementById("submitBtn");
    const loadingSpinner = document.getElementById("loadingSpinner");
    const submitText = document.getElementById("submitText");
    submitBtn.disabled = true;
    loadingSpinner.style.display = "inline-block";
    submitText.textContent = "Submitting...";
  })
</script>