<footer class="bg-black text-white">
    <div class="container text-center">
        <p>&copy; 2024 Disaster Management System. All Rights Reserved.</p>
        <p class="mb-0">
            <a href="#" class="text-white">Privacy Policy</a> | 
            <a href="#" class="text-white">Terms of Use</a>
        </p>
    </div>
</footer>