<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Alert</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Missing Person</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Report Disaster</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <div class="d-flex align-items-center gap-2 mb-2 mb-lg-0">
                    <a href="/register" class="nav-btn">Register</a>
                    <a href="/login" class="nav-btn">Login</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <section class="hero-section">
        <div class="container hero-container">
            <div class="hero-text-container">
                <h1 class="hero-heading">Be Prepared. Stay Safe.<br/> Respond Quickly</h1>
                <p class="hero-subheading">Effective disaster management solutions to protect lives, communities, and infrastructure. Together, we can face any crisis with resilience and preparedness.</p>
                <a href="" class="hero-btn">Learn More</a>
            </div>
        </div>
        <img src="/static/images/banner.jpg" alt="Banner" class="banner-image">
    </section>
    <footer class="py-5">
        <div class="container">
            <div class="row p-0">
                <div class="col-md-3 col-sm-6 col-12">
                    <a href="" class="navbar-brand">Logo</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dicta explicabo velit vel! Libero veniam reprehenderit et qui hic error?</p>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <h4 class="footer-title">Quick Links</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href=""  class="text-decoration-none">Privacy Policy</a>
                        </li>
                        <li>
                            <a href=""  class="text-decoration-none">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href=""  class="text-decoration-none">Sitemap</a>
                        </li>
                        <li>
                            <a href=""  class="text-decoration-none">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <h4 class="footer-title">Follow us:</h4>
                    <ul class="list-unstyled d-flex align-items-center gap-3">
                        <li>
                            <a href="" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                            </a>
                        </li>
                        <li>
                            <a href=""  class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                            </a>
                        </li>
                        <li>
                            <a href=""  class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <form action="">
                        <h4 class="footer-title">Newsletter Sign-Up</h4>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email">
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
     
</body>
</html>