{% extends 'base.html' %}
{% block title %}Home{% endblock title %} 
{% block body %}
    <section class="hero-section">
        <div class="container hero-container">
            <div class="hero-text-container">
                <h1 class="hero-heading">Be Prepared. Stay Safe.<br/> Respond Quickly</h1>
                <p class="hero-subheading">Effective disaster management solutions to protect lives, communities, and infrastructure. Together, we can face any crisis with resilience and preparedness.</p>
                <a href="" class="hero-btn">Learn More</a>
            </div>
        </div>
        <img src="/static/images/banner.jpg" alt="Banner" class="banner-image">
    </section>
{% endblock body %}