<section class="hero-section position-relative">
    <div class="hero-container container h-100">
        <h1 class="text-white display-4 fw-bold mb-3">Be Prepared, Be Safe</h1>
        <p class="text-white">Disaster management solutions to ensure the safety of communities</p>
        <div>
            <a href="" class="btn btn-primary btn-lg">Join Us </a>
        </div>
    </div>
    <div class="hero-section-image-container h-100 w-100">
        <img src="/images/hero6.jpg" alt="hero" class="h-100 w-100 object-fit-cover">
        <div class="overlay"></div>
    </div>
</section>
<section id="about" class="py-5">
    <div class="container text-center">
        <h2>About Disaster Management</h2>
        <p class="lead">
            Disaster management is the preparation for and response to emergencies such as natural disasters, pandemics,
            or any catastrophic events that may affect the community. The goal is to mitigate damage, provide aid, and help
            communities recover.
        </p>
    </div>
</section>