<section>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between py-3">
            <h2>Missing Person List</h2>
           <a href="" class="btn btn-primary">Report a missing person</a>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="ratio ratio-21x9 overflow-hidden my-2">
                            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="profile image" class="w-100 h-100 object-fit-contain">
                        </div>
                        <div class="card-body p-3">
                            <h5 class="card-title">Hello</h5>
                            <p class="card-text mb-1">Age:34</p>
                            <p class="card-text mb-1">Gender:Male</p>
                            <p class="card-text mb-1">Last Seen: aug 12 ,3030</p>
                            <div>
                                <a href="" class="btn btn-primary">View Full Details</a>
                                <a href="" class="btn btn-warning">Found</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="ratio ratio-21x9 overflow-hidden my-2">
                            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="profile image" class="w-100 h-100 object-fit-contain">
                        </div>
                        <div class="card-body p-3">
                            <h5 class="card-title">Hello</h5>
                            <p class="card-text mb-1">Age:34</p>
                            <p class="card-text mb-1">Gender:Male</p>
                            <p class="card-text mb-1">Last Seen: aug 12 ,3030</p>
                            <div>
                                <a href="" class="btn btn-primary">View Full Details</a>
                                <a href="" class="btn btn-warning">Found</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="ratio ratio-21x9 overflow-hidden my-2">
                            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="profile image" class="w-100 h-100 object-fit-contain">
                        </div>
                        <div class="card-body p-3">
                            <h5 class="card-title">Hello</h5>
                            <p class="card-text mb-1">Age:34</p>
                            <p class="card-text mb-1">Gender:Male</p>
                            <p class="card-text mb-1">Last Seen: aug 12 ,3030</p>
                            <div>
                                <a href="" class="btn btn-primary">View Full Details</a>
                                <a href="" class="btn btn-warning">Found</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>