{% extends 'admin.html' %}
{% block title %}Home-Alert{% endblock title %} 
{% block body %}
<div class="d-flex align-items-center justify-content-between py-2 mb-3">
  <h4 class="text-white">Alerts</h4>
  <button class="add-btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Alert</button>
</div>

<div class="row p-0">
  {% if disaster_reports %}
  {% for report in disaster_reports %}
  <div class="col-md-4 col-sm-12 col-12">
      <div class="custom-card">
          <h6><strong class="">Name :</strong>  {{ report.title }}</h6>
          <div class="d-flex align-items-center gap-2">
            <strong class="text-white">Description : </strong>
            <p class="mb-0">{{ report.description }}</p>
          </div>
          <div class="d-flex align-items-center gap-2">
            <strong class="text-white">Status : </strong>
            <span class="status {{ 'Active' if report.status else 'Inactive' }}">{{ 'Active' if report.status else 'Inactive' }}</span>
          </div>
          <div class="d-flex align-items-center gap-2 flex-wrap mt-2 px-0">
            <a href="/alert_report/{{ report.id }}" class="card-btn">View</a>
           
            <a href="/delete_disaster/{{report.id}}" class="card-btn">Delete</a>

            <a href="/update_report/{{report.id}}" class="card-btn">Edit</a>
          </div>
      </div>
  </div>
  {% endfor %}
  {% else %}
    <h6 class="text-center text-white my-5 py-5">No Alert Found</h6>
  {% endif %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 d-flex align-items-center justify-content-between">
        <h1 class="modal-title fs-5 " id="exampleModalLabel">Add Report</h1>
        <button class="close-btn" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group mb-3">
            <label for="type" class="form-label">Disaster Type</label>
            <div class="input-container">
                <input type="text" name="type" id="tpe" class="form-control" autocomplete="on" required >
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">Disaster Description</label>
            <div class="input-container">
              <textarea name="desc" id="desc" rows="4" class="form-control" autocomplete="on" required></textarea>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" id="location" class="form-control" autocomplete="on" required>
          </div>
          <div class="form-group mb-3">
            <label for="latitude" class="form-label">Latitude:</label>
            <input type="text" name="latitude" id="latitude" class="form-control" autocomplete="on" required  pattern="^[-+]?([1-8]?[0-9]|90)(\.[0-9]+)?$"  placeholder="Latitude" />
          </div>
          <div class="form-group mb-3">
            <label for="longitude" class="form-label">Longitude:</label>
            <input type="text" name="longitude" id="longitude" class="form-control" autocomplete="on" required  pattern="^[-+]?((1[0-7][0-9])|(180))(\.[0-9]+)?$" placeholder="Longitude" />
          </div>
          <div class="form-group mb-3">
            <label for="range" class="form-label">Disaster Range</label>
            <input type="text" name="range" id="range" class="form-control" autocomplete="on" required>
          </div>
          <div class="d-flex align-items-center gap-2">
            <div class="form-group mb-3 w-100">
              <label for="status" class="form-label">Status</label>
              <select name="status" id="status" class="form-control">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
            </div>
            <div class="form-group mb-3 w-100">
              <label for="alert" class="form-label">Alert</label>
              <select name="alert" id="alert" class="form-control">
                <option value="1">High</option>
                <option value="2">Mid</option>
                <option value="3">Low</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button type="submit" class="btn btn-custom">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

