{% extends 'admin.html' %}
{% block title %}Home-Dashboard{% endblock title %} 
{% block body %}
<section>
    <div class="container">
        <h4 class="text-white pb-3 pt-2">Dashboard</h4>
        <div class="row px-0">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card text-bg-warning">
                    <div class="card-body d-flex align-items-center gap-3">
                        <div class="w-25">
                            <div class="bg-white ratio ratio-1x1 d-flex align-items-center justify-content-center rounded-circle p-2">
                                <div class="d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                                </div>
                            </div>
                        </div>
                        <div class="w-75">
                            <h6>Disaster Report</h6>
                            <h3>{{ disaster_reports_len }}</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/report" class="text-black"> Disaster Report</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card text-bg-success">
                    <div class="card-body d-flex align-items-center gap-3">
                        <div class="w-25">
                            <div class="bg-white text-black ratio ratio-1x1 d-flex align-items-center justify-content-center rounded-circle p-2">
                                <div class="d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="w-75">
                            <h6>Skills</h6>
                            <h3>{{ Skills_len }}</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/skills" class="text-white">Skills</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card text-bg-primary">
                    <div class="card-body d-flex align-items-center gap-3">
                        <div class="w-25">
                            <div class="bg-white text-black ratio ratio-1x1 d-flex align-items-center justify-content-center rounded-circle p-2">
                                <div class="d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="w-75">
                            <h6>Users</h6>
                            <h3>{{ user_len }}</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/users" class="text-white">Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}