<section class="w-100 d-flex align-items-center justify-content-center" style="height: 100dvh;">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column gap-2">
            <p class="fs-4 text-black"><span class="me-2">500</span>|<span class="ms-2">Internal Server Error</span></p>
            <div class="mt-2">
                <a href="/" class="btn btn-warning">Back to Home</a>
            </div>
        </div>
    </div>
</section>